<!DOCTYPE html>
<html lang="en">

    <head>
        <title>@ViewData["Title"] - EqSolve</title>
        <link rel="stylesheet" href="~/css/site.css"/>
    </head>

    <body>
        <div class="header">
            <h1>EqSolve</h1>
            <p>Made by Christopher Tan</p>
        </div>

        <div class="content">
            @RenderBody()
        </div>
    </body>

</html>